<section class="theme">
  <mat-card>
    <mat-tab-group animationDuration="1ms" (selectedTabChange)="clearData()">
      <mat-tab label="Buying a home">
        <form [formGroup]="buyingForm">

          <mat-form-field>
            <mat-label>Purchase Price:</mat-label>
            <label>
              <input matInput type="number" formControlName="price" [min]="1">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Down Payment:</mat-label>
            <label>
              <input matInput type="number" formControlName="downPayment" [min]="1">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Term:</mat-label>
            <mat-select [formControlName]="'term'">
              <mat-option *ngFor="let term of terms" [value]="term">{{term}}  {{setYear(term)}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rate Type:</mat-label>
            <mat-select [formControlName]="'rateType'">
              <mat-option *ngFor="let rateType of rateTypes" [value]="rateType">{{rateType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <p class="reward">CASH REWARD: <span *ngIf="cashReward">${{cashReward}}</span></p>

        </form>
        <div>
          <button mat-raised-button color="primary" (click)="buyingMortgageCalc(buyingForm)"
                  [disabled]="!buyingForm.valid">Calculate Reward
          </button>
          <button mat-raised-button color="primary" (click)="clearData()">Clear</button>
        </div>
      </mat-tab>
      <mat-tab label="Refinancing">
        <form [formGroup]="refinancingForm">

          <mat-form-field>
            <mat-label>Current Home Value:</mat-label>
            <label>
              <input matInput type="number" [formControlName]="'homeValue'" [min]="1">
            </label>
          </mat-form-field>


          <mat-form-field>
            <mat-label>Current Mortgage Balance:</mat-label>
            <label>
              <input matInput type="number" [formControlName]="'mortgageBalance'" [min]="1">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Amount Available:</mat-label>
            <label>
              <input matInput type="number" [formControlName]="'amountAvailable'" [min]="1">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Term:</mat-label>
            <mat-select [formControlName]="'term'">
              <mat-option *ngFor="let term of terms" [value]="term">{{term}}  {{setYear(term)}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rate Type:</mat-label>
            <mat-select [formControlName]="'rateType'">
              <mat-option *ngFor="let rateType of rateTypes" [value]="rateType">{{rateType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <p class="reward">CASH REWARD: <span *ngIf="cashReward">${{cashReward}}</span></p>

        </form>
        <div>
          <button mat-raised-button color="primary" (click)="refinancingMortgageCalc(refinancingForm)"
                  [disabled]="!refinancingForm.valid">Calculate Reward
          </button>
          <button mat-raised-button color="primary" (click)="clearData()">Clear</button>
        </div>
      </mat-tab>
      <mat-tab label="Renewing">
        <form [formGroup]="renewingForm">

          <mat-form-field>
            <mat-label>Current Mortgage Balance:</mat-label>
            <label>
              <input matInput type="number" [formControlName]="'mortgageBalance'" [min]="1">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Remaining Amortization:</mat-label>
            <mat-select [formControlName]="'remainingAmortization'">
              <mat-option *ngFor="let amortization of remainingAmortization" [value]="amortization">{{amortization}}
                year
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Payment Frequency:</mat-label>
            <mat-select [formControlName]="'paymentFrequency'">
              <mat-option *ngFor="let frequency of paymentFrequency" [value]="frequency">{{frequency}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Term:</mat-label>
            <mat-select [formControlName]="'term'">
              <mat-option *ngFor="let term of terms" [value]="term">{{term}} {{setYear(term)}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rate Type:</mat-label>
            <mat-select [formControlName]="'rateType'">
              <mat-option *ngFor="let rateType of rateTypes" [value]="rateType">{{rateType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <p class="reward">CASH REWARD: <span *ngIf="cashReward">${{cashReward}}</span></p>

        </form>
        <div>
          <button mat-raised-button color="primary" (click)="renewingMortgageCalc(renewingForm)"
                  [disabled]="!renewingForm.valid">Calculate Reward
          </button>
          <button mat-raised-button color="primary" (click)="clearData()">Clear</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
