div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0 5px;
  }
}

.reward {
  width: 300px;
  font-weight: bold !important;
  font-size: 18px !important;
  color: green !important;
}


:host ::ng-deep {
  mat-card {
    width: 500px !important;
    height: 500px !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .mat-tab-body-content {
    overflow: hidden !important;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mat-sidenav-container {
    width: 100% !important;
    height: 100% !important;
  }

  .mat-tab-body-wrapper {
    margin-top: 10px !important;
  }

  .mat-form-field {
    width: 300px !important;
  }

  .result {
    height: 50px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  mat-sidenav-content {
    display: flex !important;
  }
}
