@import '~@angular/material/theming';

@include mat-core();

.theme {
  $candy-app-primary: mat-palette($mat-indigo);
  $candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
  $candy-app-warn: mat-palette($mat-red);
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
}
